@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

header {
    height: 30vh;
}

main {
    height: 50vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

nav ul  {
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style: none;
    padding: 2%;
}

nav ul li a{
    color: #777;
    font-size: 1.5rem;
}

/* --navbar effects --- color -- underline  */


nav ul li a:hover {
    color:black;
}

nav ul li::after {
    content: '';
    display: block;
    background-color: transparent;
    margin: 0 auto;
    height: 1px;
    width: 0;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
    background-color: black;
}


/* main body---- title -- description// */

div {
    text-align: center;
    width: 45%;
    border-bottom: 10px solid black;
    font-size: 10rem;
    font-weight: bold;
    color: black;    
    margin: 0 auto;
}

section span {
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

section {
    padding-top: 2%;
    color: #555;
    width: 45%;
    margin: 0 auto;
    font-size: 2rem;
}